@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================== */
/* Custom properties */
/* ================== */

:root {
  --ff-main: 'Rubik', sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;

  --fs-07: 0.438rem;
  --fs-08: 0.5em;
  --fs-09: 0.563em;
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-30: 1.875em;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-60: 3.75rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;

  /*Primary */
  --clr-soft-blue: hsl(231, 69%, 60%);
  --clr-soft-red: hsl(0, 94%, 66%);
  --clr-soft-red-disabled: hsl(0, 85%, 79%);

  /* Neutral */
  --clr-grayish-blue: hsl(229, 8%, 60%);
  --clr-very-dark-blue: hsl(229, 31%, 21%);
  --clr-very-dark-blue-translucid: hsla(229, 31%, 21%, 0.9);
  --clr-faded-gray-placeholder: hsla(229, 31%, 21%, 0.219);

  --clr-very-soft-gray: hsl(0, 0%, 97%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-white-translucid: hsla(0, 0%, 100%, 0.15);
}

body {
  background-color: var(--clr-white);
  color: var(--clr-grayish-blue);
  font-family: var(--ff-main);
  font-size: var(--fs-15);
  font-weight: var(--fw-regular);
  line-height: 1.666;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

/* ================== */
/* Typography */
/* ================== */
.title {
  color: var(--clr-very-dark-blue);
  font-size: var(--fs-30);
  font-weight: var(--fw-medium);
  line-height: 1.33;
}

.title--md {
  font-size: var(--fs-24);
}

.title--sm {
  font-size: var(--fs-20);
}

.question {
  color: var(--clr-very-dark-blue);
}

.answer {
  line-height: 1.5;
}

.cta-message {
  font-size: var(--fs-12);
  font-weight: var(--fw-medium);
  letter-spacing: 4.62px;
  text-transform: uppercase;
}

.cta-title {
  line-height: 1.1666;
}

/* ================== */
/* Links */
/* ================== */

.nav-link {
  color: var(--clr-white);
  font-size: var(--fs-20);
  letter-spacing: 2.31px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--clr-soft-red);
}

.footer .nav-link {
  font-size: var(--fs-15);
  letter-spacing: 1.73px;
}

.footer .nav-link:hover,
.footer .nav-link:focus {
  color: var(--clr-soft-red);
}

.social-link:hover path,
.social-link:focus path {
  fill: var(--clr-soft-red);
}

/* ================== */
/* Buttons & inputs */
/* ================== */
.open-nav-btn,
.close-nav-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.btn {
  background-color: var(--clr-soft-blue);
  border: 2px solid var(--clr-soft-blue);
  border-radius: 0.5em;
  box-shadow: -1px 3px 6px 2px hsla(231, 69%, 60%, 0.2);
  color: var(--clr-white);
  cursor: pointer;
  display: inline-block;
  font-size: var(--fs-14);
  font-weight: var(--fw-medium);
  letter-spacing: 0.25px;
  padding: 0.75em 1.1em;
  text-decoration: none;
}

.btn--accent {
  background-color: var(--clr-very-soft-gray);
  border: 2px solid var(--clr-very-soft-gray);
  color: var(--clr-very-dark-blue);
}

.btn:hover,
.btn:focus {
  background: var(--clr-white);
  color: var(--clr-soft-blue);
}

.btn--accent:hover,
.btn--accent:focus {
  color: var(--clr-very-dark-blue);
  border: 2px solid var(--clr-very-dark-blue);
}

.features .btn {
  padding: 0.75em 1.6em;
}

/* ================== */
/* Utility styles */
/* ================== */

.wrapper {
  overflow: hidden;
}

.container {
  padding: 0 2em;
}

.buttons-area {
  padding-top: 0.25em;
}

/* ================== */
/* SECTIONS */
/* ================== */

/* HEADER */
.header {
  margin-top: 2.5em;
}

.header__row {
  /* Flex */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  background-color: var(--clr-very-dark-blue-translucid);
  height: 100%;
  padding: 2.5em 2em 3em;
  transform: translateX(0%);
  width: 100%;
  z-index: 10;
  /* Position */
  position: fixed;
  top: 0;
  left: 100%;
  right: 0;
  bottom: 0;
  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navigation-open {
  transform: translateX(-100%);
}

.nav .nav__main {
  width: 100%;
}

.nav .nav-list {
  list-style: none;
  margin-top: 2.5em;
  width: 100%;
}

.nav .nav-item {
  border-top: 1px solid var(--clr-white-translucid);
  padding: 1.5em 0 1.5em;
  width: 100%;
}

.nav .nav-link {
  display: block;
  width: 100%;
}

.nav .nav-link--accent {
  border: 2px solid var(--clr-white);
  border-radius: 0.25em;
  font-weight: var(--fw-medium);
  padding: 0.25em 0 0.25em;
}

.nav .nav-link--accent:hover,
.nav .nav-link--accent:focus {
  border: 2px solid var(--clr-soft-red);
}

.nav .socials-list {
  list-style: none;
  /* Flex */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
}

/* HERO */
.hero {
  margin-top: 5em;
  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__copy-area {
  margin-top: 3em;
}

.copy-text p,
.feat-copy p {
  margin: 1em auto 0;
  width: 98%;
}

.hero__ill-area {
  /* Position */
  position: relative;
  /* Flex */
  order: -1;
}

.hero__button-area {
  margin-top: 2em;
  /* Flex */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.875em;
}

.hero__ill-area::after {
  content: '';

  background: var(--clr-soft-blue);
  border-bottom-left-radius: 3em;
  height: 203px;
  width: 100%;
  z-index: -1;
  /* Position */
  position: absolute;
  top: 53px;
  left: 69px;
}

/* MAIN */
.main {
  margin-top: 8.75em;
}

/* FEATURES */
.feat-button-area {
  margin-top: 2.5em;
  /* Flex */
  display: flex;
  flex-direction: column;
}

.feat-btn {
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--clr-grayish-blue);
  color: var(--clr-very-dark-blue);
  cursor: pointer;
  font-family: inherit;
  font-size: var(--fs-16);
  opacity: 0.75;
  padding: 1.25em 0;
  /* Position */
  position: relative;
}

.feat-btn:first-of-type {
  border-top: 1px solid var(--clr-grayish-blue);
}

.feat-btn--active::after {
  content: '';

  background: var(--clr-soft-red);
  height: 4px;
  transform: translateX(-50%);
  width: 45%;
  /* Position */
  position: absolute;
  bottom: 0;
  left: 50%;
}

.feat-display {
  margin-top: 4.5em;
}

.sel-feat__ill-area {
  padding: 0 2em;
  /* Position */
  position: relative;
}

.sel-feat__ill-area::after {
  content: '';

  background: var(--clr-soft-blue);
  border-top-right-radius: 6em;
  border-bottom-right-radius: 6em;
  height: 203px;
  width: 100%;
  z-index: -1;
  /* Position */
  position: absolute;
  top: 35%;
  right: 75px;
}

.tab {
  display: none;
}

.tab.active {
  display: block;
}

.tab--1 .sel-feat__ill-area::after {
  top: 17%;
}

.sel-feat__copy-area {
  margin-top: 4.5em;
}

.tab--1 .sel-feat__copy-area {
  margin-top: 5.25em;
}

.sel-feat__copy-area p {
  margin: 0.75em auto 0;
  width: 97%;
}

.sel-feat__copy-area .btn {
  margin-top: 1em;
}

/* EXTENSIONS */
.extensions {
  margin-top: 5em;
}

.ext-copy p {
  margin: 0.75em auto 0;
  width: 90%;
}

.ext-cards {
  margin-top: 2.5em;
  padding: 0 1em 0;
  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
}

.card {
  box-shadow: -2px 9px 9px 4px hsla(231, 69%, 60%, 0.2);
  border-radius: 0.5em;
}

.card-logo img {
  margin: 3em auto 0;
}

.card-upper .title {
  margin-top: 2em;
}

.card-upper p {
  margin-top: 0.5em;
}

.card-bottom {
  margin-top: 2em;
}

.card-bottom .btn {
  margin: 1.5em 0;
  padding: 0.75em 2.35em;
}

/* FAQ */
.faq {
  margin-top: 8.75em;
}

.faq-copy p {
  margin-top: 1em;
}

.faq-questions {
  margin-top: 4em;
  text-align: left;
}

.faq-question-group {
  border-bottom: 1px solid var(--clr-grayish-blue);
  opacity: 0.75;
}

.question-top {
  cursor: pointer;
  padding: 1em 0;
  /* Flex */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.q-top-text {
  color: var(--clr-very-dark-blue);
  width: 100%;
}

.answer-text {
  color: var(--clr-very-dark-blue);
  display: none;
  margin-bottom: 1.75em;
  opacity: 0.75;
}

.answer-text.show {
  display: block;
}

.faq .btn {
  margin: 3em auto 0;
  padding: 0.75em 1.75em;
}

/* FOOTER */
.footer {
  margin-top: 7.75em;
}

.footer__cta {
  background: var(--clr-soft-blue);
}

.cta-copy-area {
  padding-top: 3.75em;
}

.cta-message,
.title--cta {
  color: var(--clr-white);
}

.title--cta {
  margin-top: 0.5em;
}

.cta-form {
  margin-top: 2em;
  padding-bottom: 3.75em;
  /* Position */
  position: relative;
}

.input-wrapper {
  border: 2px solid transparent;
  border-radius: 0.5em;
}

.input-wrapper.show-error {
  background: var(--clr-soft-red);
  border: 2px solid var(--clr-soft-red);
}

.form-input-cta,
.btn-cta {
  border-radius: 0.5em;
  border: none;
  display: block;
  font-size: var(--fs-14);
  font-family: inherit;
  outline: none;
  padding: 1em 1.75em;
  width: 100%;
}

.form-input-cta {
  color: var(--clr-very-dark-blue);
}

.form-input-cta::placeholder {
  color: var(--clr-faded-gray-placeholder);
}

.icon-error-svg {
  display: none;
  /* Position */
  position: absolute;
  top: 14px;
  right: 15px;
}

.icon-error-svg.show-error {
  display: block;
}

.error-message {
  background: var(--clr-soft-red);
  display: none;
  padding: 0.1em 0.75em;

  text-align: left;
}

.error-message.show-error {
  display: block;
}

.error-message p {
  color: var(--clr-white);
  font-size: var(--fs-10);
  font-style: italic;
  font-weight: var(--fw-medium);
  letter-spacing: 0.25px;
}

.btn-cta {
  background: var(--clr-soft-red);
  margin-top: 1em;
}

.btn-cta:disabled,
.btn-cta[disabled] {
  background: var(--clr-soft-red-disabled);
  cursor: not-allowed;
}
.btn-cta:disabled:hover,
.btn-cta[disabled]:hover {
  color: var(--clr-white);
}

/* Footer */
.footer__bottom {
  background: var(--clr-very-dark-blue);
  padding: 2.75em 0 0.5em;
  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .logo img {
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(166deg) brightness(100%)
    contrast(101%);
}

.footer .nav-list {
  list-style: none;
  margin-top: 2.375em;
  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.fl-group-b {
  margin-top: 3em;
}

.fl-group-b .socials-list {
  list-style: none;
  /* Flex */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
}

.footer__bottom .nav-link,
.footer__signature {
  color: var(--clr-white);
  margin-top: 3em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

@media (min-width: 510px) {
  /* Utility classes */
  .container {
    padding: 0 4em;
  }

  /* Hero */
  .hero__ill-area {
    max-width: 500px;
  }

  .hero__ill-area::after {
    content: '';

    border-bottom-left-radius: 11em;
    height: 275px;
    width: 150%;
    z-index: -1;
    /* Position */
    position: absolute;
    top: 85px;
    left: 60px;
  }

  .hero__copy-area {
    margin-top: 5em;
  }

  /* Features */
  .feat-display {
    margin-top: 6.5em;
  }

  .sel-feat__ill-area {
    margin: 0 auto;
    padding: 0;
    max-width: 460px;
  }

  .tab--1 .sel-feat__ill-area::after {
    height: 290px;
    /* Position */
    top: 18%;
  }

  .sel-feat__ill-area::after {
    content: '';

    background: var(--clr-soft-blue);
    border-top-right-radius: 6em;
    border-bottom-right-radius: 6em;
    height: 250px;
    width: 150%;
    z-index: -1;
    /* Position */
    position: absolute;
    top: 42%;
    right: 75px;
  }

  /* Footer */
  .footer .footer__bottom {
    padding: 2.75em 0 0.5em;
  }
}

@media (min-width: 650px) {
  /* Typography */
  .nav-link {
    color: var(--clr-very-dark-blue);
    font-size: var(--fs-13);
  }

  /* Utility classes */
  .container {
    padding: 0 8em;
  }

  /* Navigation */
  .header__row.container {
    display: none;
  }

  .nav {
    background-color: unset;
    display: block;
    padding: 0 3em 3em;
    position: unset;
  }

  .nav__main {
    display: flex;
  }

  .nav .socials-list {
    display: none;
  }

  .nav .nav-list {
    margin-top: 0;
    /* Flex */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2.75em;
  }

  .nav .nav-item {
    padding: 0;
    width: unset;
  }

  .nav .nav-link--accent {
    background: var(--clr-soft-red);
    border: 2px solid var(--clr-soft-red);
    color: var(--clr-white);
    padding: 0.5em 1.5em;
  }

  .nav .nav-link--accent:hover,
  .nav .nav-link--accent:focus {
    background: var(--clr-white);
    border: 2px solid var(--clr-soft-red);
    color: var(--clr-soft-red);
  }
}

@media (min-width: 790px) {
  /* Utility classes */
  .container {
    padding: 0 11em;
  }

  /* navigation */
  .nav {
    padding: 0 5em 3em;
  }
}
@media (min-width: 920px) {
  /* Utility classes */
  .container {
    padding: 0 14em;
  }
}

@media (min-width: 1025px) {
  /* Typography */
  body {
    font-size: var(--fs-18);
  }

  .title {
    font-size: var(--fs-48);
  }

  .title--md {
    font-size: var(--fs-32);
  }

  .title--sm {
    font-size: var(--fs-20);
  }

  .card-upper p {
    font-size: var(--fs-15);
  }

  /* Utility classes */
  .container {
    padding: 0 7em;
  }

  /* Navigation */
  .nav {
    padding: 0 7em 3em;
  }

  /* HERO */
  .hero {
    padding: 0 7em;
    /* Flex */
    flex-direction: row;
    gap: 0em;
  }

  .hero__ill-area {
    order: unset;
    width: 50%;
    max-width: unset;
    /* Position */
    position: relative;
  }

  .hero__copy-area {
    margin-top: unset;
    padding: 0 3em 0 0;
    text-align: left;
    width: 50%;
  }

  .hero__button-area {
    /* Flex */
    justify-content: flex-start;
  }

  .hero-img {
    transform: scale(1.3) translateX(10%);
  }

  .hero__ill-area::after {
    content: '';

    border-bottom-left-radius: 11em;
    height: 400px;
    width: 200%;
    z-index: -1;
    /* Position */
    position: absolute;
    top: 85px;
    left: 25%;
  }

  /* MAIN */
  .main {
    margin-top: 11em;
  }

  /* FEATURES */

  .feat-copy {
    margin: 0 auto;
    padding: 0;
    max-width: 540px;
  }

  .feat-button-area {
    margin: 2.5em auto 0;
    padding: 0;
    max-width: 730px;
    /* Flex */
    flex-direction: row;
  }

  .feat-btn {
    display: block;
    font-size: var(--fs-16);
    width: 100%;
  }

  .feat-btn:first-of-type {
    border-top: unset;
  }

  .feat-btn--active::after {
    content: '';

    background: var(--clr-soft-red);
    height: 4px;
    transform: translateX(-50%);
    width: 100%;
    /* Position */
    position: absolute;
    bottom: 0;
    left: 50%;
  }

  .feat-display {
    margin-top: 4.5em;
  }

  .tab.active {
    /* Flex */
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .sel-feat__ill-area {
    width: 50%;
    max-width: unset;
  }

  .tab--1 .sel-feat__ill-area {
    padding-bottom: 2em;
  }

  .tab--1 .sel-feat__ill-area::after {
    height: 350px;
    /* Position */
    top: 18%;
  }

  .sel-feat__ill-area img {
    margin: 0 0 0 auto;
  }

  .sel-feat__copy-area {
    text-align: left;
    margin-top: 0;
    padding: 3em 2.5em 0 6em;
    width: 50%;
  }

  .tab--1 .sel-feat__copy-area {
    margin-top: 0;
  }

  .sel-feat__copy-area p {
    width: 100%;
  }

  /* EXTENSIONS */
  .extensions {
    margin-top: 9em;
  }

  .ext-copy {
    margin: 0 auto;
    max-width: 550px;
  }

  .ext-copy p {
    width: 100%;
  }

  .ext-cards {
    /* Flex */
    flex-direction: row;
    gap: 2em;
  }

  .card:nth-of-type(2) {
    margin-top: 4em;
  }
  .card:nth-of-type(3) {
    margin-top: 8em;
  }

  /* FAQ */
  .faq-copy,
  .faq-questions {
    margin: 0 auto;
    max-width: 540px;
  }

  .faq-questions {
    margin-top: 3.5em;
  }

  /* FOOTER */
  .cta-copy-area,
  .cta-form {
    margin: 0 auto;
    max-width: 450px;
  }

  .cta-form {
    margin-top: 2.25em;
    /* Flex */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
  }

  .cta-form .input-wrapper {
    width: 65%;
  }

  .icon-error-svg {
    display: none;
    /* Position */
    position: absolute;
    top: 14px;
    right: unset;
    left: 240px;
  }

  .btn-cta {
    margin-top: unset;
    width: 35%;
  }

  .footer .footer__bottom {
    padding: 2em 7em 0.5em;
  }

  .footer__links {
    /* Flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .fl-group-a {
    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
  }

  .footer .nav-list {
    margin-top: unset;
    /* Flex */
    flex-direction: row;
  }

  .fl-group-b {
    margin-top: unset;
  }

  .footer__signature {
    margin-top: 2em;
  }
}

@media (min-width: 1800px) {
  .nav__main,
  .footer__links {
    margin: 0 auto;
    max-width: 1500px;
  }

  .hero {
    margin: 5em auto 0;
    padding: 0;
    max-width: 1500px;
  }

  .features {
    margin: 0 auto 0;
    max-width: 1500px;
  }
}
