@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================== */
/* Custom properties */
/* ================== */

:root {
  --ff-main: 'Rubik', sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;

  --fs-07: 0.438rem;
  --fs-08: 0.5em;
  --fs-09: 0.563em;
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-30: 1.875em;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-60: 3.75rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;

  /*Primary */
  --clr-soft-blue: hsl(231, 69%, 60%);
  --clr-soft-red: hsl(0, 94%, 66%);

  /* Neutral */
  --clr-grayish-blue: hsl(229, 8%, 60%);
  --clr-very-dark-blue: hsl(229, 31%, 21%);
  --clr-very-dark-blue-translucid: hsla(229, 31%, 21%, 0.9);
  --clr-faded-gray-placeholder: hsla(229, 31%, 21%, 0.219);

  --clr-very-soft-gray: hsl(0, 0%, 97%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-white-translucid: hsla(0, 0%, 100%, 0.15);
}

body {
  background-color: var(--clr-white);
  color: var(--clr-grayish-blue);
  font-family: var(--ff-main);
  font-size: var(--fs-15);
  font-weight: var(--fw-regular);
  line-height: 1.666;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

/* ================== */
/* Typography */
/* ================== */
.title {
  font-size: var(--fs-30);
  font-weight: var(--fw-medium);
  line-height: 1.33;
  color: var(--clr-very-dark-blue);
}

.title--md {
  font-size: var(--fs-24);
}

.title--sm {
  font-size: var(--fs-20);
}

.question {
  color: var(--clr-very-dark-blue);
}

.answer {
  line-height: 1.5;
}

.cta-message {
  font-size: var(--fs-12);
  letter-spacing: 4.62px;
  /* color: var(--clr-white); */
  text-transform: uppercase;
  font-weight: var(--fw-medium);
}

.cta-title {
  line-height: 1.1666;
  /* color: var(--clr-white); */
}

/* ================== */
/* Links */
/* ================== */

.nav-link {
  color: var(--clr-white);
  font-size: var(--fs-20);
  letter-spacing: 2.31px;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--clr-soft-red);
}

.footer .nav-link {
  font-size: var(--fs-15);
  letter-spacing: 1.73px;
}

.footer .nav-link:hover,
.footer .nav-link:focus {
  color: var(--clr-soft-red);
}

.social-link:hover path,
.social-link:focus path {
  fill: var(--clr-soft-red);
}

/* ================== */
/* Buttons & inputs */
/* ================== */
.open-nav-btn,
.close-nav-btn {
  background: none;
  border: none;

  cursor: pointer;
}

.btn {
  display: inline-block;
  text-decoration: none;
  background-color: var(--clr-soft-blue);
  border: 2px solid var(--clr-soft-blue);
  cursor: pointer;
  font-size: var(--fs-14);
  font-weight: var(--fw-medium);
  letter-spacing: 0.25px;
  color: var(--clr-white);
  padding: 0.75em 1.1em;
  border-radius: 0.5em;
  box-shadow: -1px 3px 6px 2px hsla(231, 69%, 60%, 0.2);
}

.btn--accent {
  background-color: var(--clr-very-soft-gray);
  border: 2px solid var(--clr-very-soft-gray);
  color: var(--clr-very-dark-blue);
}

.btn:hover,
.btn:focus {
  background: var(--clr-white);
  color: var(--clr-soft-blue);
}

.btn--accent:hover,
.btn--accent:focus {
  color: var(--clr-very-dark-blue);
  border: 2px solid var(--clr-very-dark-blue);
}

.features .btn {
  padding: 0.75em 1.6em;
}

/* ================== */
/* Utility styles */
/* ================== */

.wrapper {
  overflow: hidden;
}

.container {
  padding: 0 2em;
}

.buttons-area {
  padding-top: 0.25em;
}

/* ================== */
/* SECTIONS */
/* ================== */

/* HEADER */
.header {
  margin-top: 2.5em;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  /* display: none; */

  position: fixed;
  top: 0;
  left: 100%;
  right: 0;
  bottom: 0;

  transform: translateX(0%);

  width: 100%;

  background-color: var(--clr-very-dark-blue-translucid);
  padding: 2.5em 2em 3em;

  z-index: 10;

  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navigation-open {
  transform: translateX(-100%);
}

.nav .nav__main {
  width: 100%;
}

.nav .nav-list {
  margin-top: 2.5em;
  list-style: none;
  width: 100%;
}

.nav .nav-item {
  border-top: 1px solid var(--clr-white-translucid);
  padding: 1.5em 0 1.5em;

  width: 100%;
}

.nav .nav-link {
  width: 100%;
  display: block;
}

.nav .nav-link--accent {
  font-weight: var(--fw-medium);
  padding: 0.25em 0 0.25em;
  border: 2px solid var(--clr-white);
  border-radius: 0.25em;
}

.nav .nav-link--accent:hover,
.nav .nav-link--accent:focus {
  border: 2px solid var(--clr-soft-red);
}

.nav .socials-list {
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
}

/* HERO */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 5em;
}

.hero__copy-area {
  margin-top: 3em;
}

.copy-text p,
.feat-copy p {
  margin: 1em auto 0;
  width: 98%;
}

.hero__ill-area {
  order: -1;
  position: relative;
}

.hero__button-area {
  margin-top: 2em;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.875em;
}

.hero__ill-area::after {
  content: '';

  position: absolute;
  background: var(--clr-soft-blue);
  width: 100%;
  height: 203px;
  top: 53px;
  left: 69px;
  z-index: -1;
  border-bottom-left-radius: 3em;
}

/* MAIN */
.main {
  margin-top: 8.75em;
}

/* FEATURES */
.feat-button-area {
  margin-top: 2.5em;

  display: flex;
  flex-direction: column;
}

.feat-btn {
  border: none;
  border-bottom: 1px solid var(--clr-grayish-blue);
  background: transparent;
  font-family: inherit;
  color: var(--clr-very-dark-blue);
  opacity: 0.75;
  font-size: var(--fs-16);
  padding: 1.25em 0;

  position: relative;
}

.feat-btn:first-of-type {
  border-top: 1px solid var(--clr-grayish-blue);
}

.feat-btn--active::after {
  content: '';

  background: var(--clr-soft-red);
  width: 45%;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.feat-display {
  margin-top: 4.5em;
}

.sel-feat__ill-area {
  padding: 0 2em;

  position: relative;
}

.sel-feat__ill-area::after {
  content: '';

  background: var(--clr-soft-blue);
  width: 100%;
  height: 203px;
  position: absolute;
  top: 35%;
  right: 67px;
  z-index: -1;
  border-top-right-radius: 6em;
  border-bottom-right-radius: 6em;
}

.tab {
  display: none;
}

.tab.active {
  display: block;
}

.tab--1 .sel-feat__ill-area::after {
  top: 17%;
}

.sel-feat__copy-area {
  margin-top: 4.5em;
}

.tab--1 .sel-feat__copy-area {
  margin-top: 5.25em;
}

.sel-feat__copy-area p {
  margin: 0.75em auto 0;
  width: 97%;
}

.sel-feat__copy-area .btn {
  margin-top: 1em;
}

/* EXTENSIONS */
.extensions {
  margin-top: 5em;
}

.ext-copy p {
  margin: 0.75em auto 0;
  width: 90%;
}

.ext-cards {
  margin-top: 2.5em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5em;

  padding: 0 1em 0;
}

.card {
  box-shadow: -2px 9px 9px 4px hsla(231, 69%, 60%, 0.2);
  border-radius: 0.5em;
}

.card-logo img {
  margin: 3em auto 0;
}

.card-upper .title {
  margin-top: 2em;
}

.card-upper p {
  margin-top: 0.5em;
}

.card-bottom {
  margin-top: 2em;
}

.card-bottom .btn {
  padding: 0.75em 2.35em;

  margin: 1.5em 0;
}

/* FAQ */
.faq {
  margin-top: 8.75em;
}

.faq-copy p {
  margin-top: 1em;
}

.faq-questions {
  margin-top: 4em;
  text-align: left;
}

.faq-question-group {
  border-bottom: 1px solid var(--clr-grayish-blue);
  opacity: 0.75;
}

.question-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1em 0;
}

.q-top-text {
  color: var(--clr-very-dark-blue);
}

.answer-text {
  margin-bottom: 1.75em;
  color: var(--clr-very-dark-blue);
  opacity: 0.75;
  display: none;
}

.faq .btn {
  margin: 3em auto 0;
  padding: 0.75em 1.75em;
}

/* FOOTER */
.footer {
  margin-top: 7.75em;
}

.footer__cta {
  background: var(--clr-soft-blue);
}

.cta-copy-area {
  padding-top: 3.75em;
}

.cta-message,
.title--cta {
  color: var(--clr-white);
}

.title--cta {
  margin-top: 0.5em;
}

.cta-form {
  margin-top: 2em;
  padding-bottom: 3.75em;
}

.input-cta,
.btn-cta {
  display: block;
  width: 100%;
  font-size: var(--fs-14);
  font-family: inherit;
  padding: 1em 1.75em;
  border-radius: 0.5em;
  border: none;
}

.input-cta {
  color: var(--clr-faded-gray-placeholder);
}

.btn-cta {
  margin-top: 1em;
  background: var(--clr-soft-red);
}

/* Footer */
.footer__bottom {
  background: var(--clr-very-dark-blue);
  padding: 2.75em 0 0.5em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .logo img {
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(166deg) brightness(100%)
    contrast(101%);
}

.footer .nav-list {
  margin-top: 2.375em;

  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.fl-group-b {
  margin-top: 3em;
}

.fl-group-b .socials-list {
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
}

.footer__bottom .nav-link,
.footer__signature {
  margin-top: 3em;
  color: var(--clr-white);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
